In [1]:
import pandas as pd
import numpy as np

In [2]:
match_data = pd.read_csv('/Users/augustin/OneDrive - 서울과학기술대학교/21년 2학기/기계학습/프로젝트/gold_final_added_score.csv')

In [3]:
match_data.drop('Unnamed: 0', axis=1, inplace=True)
match_data.drop('matchId', axis=1, inplace=True)

In [4]:
temp_df1 = match_data.copy()
temp_df2 = match_data.copy()

In [5]:
for playerNumber in range(1, 6):
    temp_df1.drop('t2_p%d_champion_name' % playerNumber, axis=1, inplace=True)
    temp_df1.drop('t2_p%d_summoner_name' % playerNumber, axis=1, inplace=True)
    temp_df1.drop('t2_p%d_teamPosition' % playerNumber, axis=1, inplace=True)
    temp_df1.drop('t2_p%d_kda' % playerNumber, axis=1, inplace=True)
    temp_df1.drop('t2_p%d_winRate' % playerNumber, axis=1, inplace=True)
    temp_df1.drop('t2_p%d_fiveGame_played' % playerNumber, axis=1, inplace=True)
    temp_df1.drop('t2_p%d_psScore' % playerNumber, axis=1, inplace=True)

In [6]:
for playerNumber in range(1, 6):
    temp_df1.drop('t1_p%d_summoner_name' % playerNumber, axis=1, inplace=True)


for playerNumber in range(1, 6):
    temp_df2.drop('t2_p%d_summoner_name' % playerNumber, axis=1, inplace=True)

In [7]:
for playerNumber in range(1, 6):
    temp_df2.drop('t1_p%d_champion_name' % playerNumber, axis=1, inplace=True)
    temp_df2.drop('t1_p%d_summoner_name' % playerNumber, axis=1, inplace=True)
    temp_df2.drop('t1_p%d_teamPosition' % playerNumber, axis=1, inplace=True)
    temp_df2.drop('t1_p%d_kda' % playerNumber, axis=1, inplace=True)
    temp_df2.drop('t1_p%d_winRate' % playerNumber, axis=1, inplace=True)
    temp_df2.drop('t1_p%d_fiveGame_played' % playerNumber, axis=1, inplace=True)
    temp_df2.drop('t1_p%d_psScore' % playerNumber, axis=1, inplace=True)

In [8]:
for i in range(0, len(temp_df2)):
    if temp_df2['t1_win'][i] == 1:
        temp_df2['t1_win'][i] = 0
    else:
        temp_df2['t1_win'][i] = 1

/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_59138/1354582197.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df2['t1_win'][i] = 0
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_59138/1354582197.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df2['t1_win'][i] = 1

In [9]:
def find_switch(positionData):
    wrong_position_index_list = []
    for index in range(0, len(positionData)):
        if ((list(temp_df1.iloc[index,5:10]) == ['TOP', 'JUNGLE', 'MIDDLE', 'BOTTOM', 'UTILITY']) == False):
            wrong_position_index_list.append(index)

    return wrong_position_index_list

In [10]:
def drop_switch(originalData, wrong_index):
    for i in wrong_index:
        originalData.drop(i, axis = 0, inplace = True)

In [11]:
def get_wrong_position_df(originalData, wrong_index):
    wrong_position_df = pd.DataFrame(columns=originalData.columns)
    for index in wrong_index:
        tempList = originalData.iloc[index,:]
        wrong_position_df = wrong_position_df.append(pd.Series(tempList), ignore_index=True)

    return wrong_position_df

In [12]:
t1_wrong_index = find_switch(temp_df1.iloc[:, 5:10])
t2_wrong_index = find_switch(temp_df2.iloc[:, 5:10])

In [13]:
a = get_wrong_position_df(temp_df1, t1_wrong_index)
b = get_wrong_position_df(temp_df2, t2_wrong_index)

In [14]:
drop_switch(temp_df1, t1_wrong_index)
drop_switch(temp_df2, t2_wrong_index)

In [15]:
position = ['TOP', 'JUNGLE', 'MIDDLE', 'BOTTOM', 'UTILITY']
position_encoded = [1, 2, 3, 4, 5]

a_encoded = a.replace(position, position_encoded)
b_encoded = b.replace(position, position_encoded)

In [16]:
def bubble_sort(encoded_postion, teamNumber):
    for q in range(0, len(encoded_postion)):
        array = list(encoded_postion.iloc[q, 5:10])
        n = len(array)
        for i in range(n - 1):
            for j in range(n - i - 1):
                if array[j] > array[j + 1]:
                    array[j], array[j + 1] = array[j + 1], array[j]
                    encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+1))][q]
                    encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+1))][q]
                    encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+1))][q]
                    encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+1))][q]
                    encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+1))][q]
                    encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+1))][q]

In [17]:
bubble_sort(a_encoded, 1)

/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_59138/1399423054.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_59138/1399423054.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_59138/1399423054.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_59138/1399423054.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_59138/1399423054.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_59138/1399423054.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+1))][q]

In [18]:
bubble_sort(b_encoded, 2)

/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_59138/1399423054.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_champion_name' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_59138/1399423054.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_kda' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_59138/1399423054.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_teamPosition' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_59138/1399423054.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_winRate' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_59138/1399423054.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_fiveGame_played' % (teamNumber, str(j+1))][q]
/var/folders/rw/4fycx7992w15h0xsbl23zqwr0000gn/T/ipykernel_59138/1399423054.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+1))][q], encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+2))][q] = encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+2))][q], encoded_postion['t%d_p%s_psScore' % (teamNumber, str(j+1))][q]

In [19]:
t1_p1_champion_name = a_encoded['t1_p1_champion_name']
t1_p2_champion_name = a_encoded['t1_p2_champion_name']
t1_p3_champion_name = a_encoded['t1_p3_champion_name']
t1_p4_champion_name = a_encoded['t1_p4_champion_name']
t1_p5_champion_name = a_encoded['t1_p5_champion_name']

t2_p1_champion_name = b_encoded['t2_p1_champion_name']
t2_p2_champion_name = b_encoded['t2_p2_champion_name']
t2_p3_champion_name = b_encoded['t2_p3_champion_name']
t2_p4_champion_name = b_encoded['t2_p4_champion_name']
t2_p5_champion_name = b_encoded['t2_p5_champion_name']

a_encoded['t2_p1_champion_name'] = t2_p1_champion_name 
a_encoded['t2_p2_champion_name'] = t2_p2_champion_name 
a_encoded['t2_p3_champion_name'] = t2_p3_champion_name 
a_encoded['t2_p4_champion_name'] = t2_p4_champion_name 
a_encoded['t2_p5_champion_name'] = t2_p5_champion_name

b_encoded['t1_p1_champion_name'] = t1_p1_champion_name 
b_encoded['t1_p2_champion_name'] = t1_p2_champion_name 
b_encoded['t1_p3_champion_name'] = t1_p3_champion_name 
b_encoded['t1_p4_champion_name'] = t1_p4_champion_name 
b_encoded['t1_p5_champion_name'] = t1_p5_champion_name 

t1_p1_champion_name = temp_df1['t1_p1_champion_name']
t1_p2_champion_name = temp_df1['t1_p2_champion_name']
t1_p3_champion_name = temp_df1['t1_p3_champion_name']
t1_p4_champion_name = temp_df1['t1_p4_champion_name']
t1_p5_champion_name = temp_df1['t1_p5_champion_name']

t2_p1_champion_name = temp_df2['t2_p1_champion_name']
t2_p2_champion_name = temp_df2['t2_p2_champion_name']
t2_p3_champion_name = temp_df2['t2_p3_champion_name']
t2_p4_champion_name = temp_df2['t2_p4_champion_name']
t2_p5_champion_name = temp_df2['t2_p5_champion_name']

temp_df1['t2_p1_champion_name'] = t2_p1_champion_name 
temp_df1['t2_p2_champion_name'] = t2_p2_champion_name 
temp_df1['t2_p3_champion_name'] = t2_p3_champion_name 
temp_df1['t2_p4_champion_name'] = t2_p4_champion_name 
temp_df1['t2_p5_champion_name'] = t2_p5_champion_name


temp_df2['t1_p1_champion_name'] = t1_p1_champion_name 
temp_df2['t1_p2_champion_name'] = t1_p2_champion_name 
temp_df2['t1_p3_champion_name'] = t1_p3_champion_name 
temp_df2['t1_p4_champion_name'] = t1_p4_champion_name 
temp_df2['t1_p5_champion_name'] = t1_p5_champion_name

In [20]:
t1_p1_psScore = a_encoded['t1_p1_psScore']
t1_p2_psScore = a_encoded['t1_p2_psScore']
t1_p3_psScore = a_encoded['t1_p3_psScore']
t1_p4_psScore = a_encoded['t1_p4_psScore']
t1_p5_psScore = a_encoded['t1_p5_psScore']

t2_p1_psScore = b_encoded['t2_p1_psScore']
t2_p2_psScore = b_encoded['t2_p2_psScore']
t2_p3_psScore = b_encoded['t2_p3_psScore']
t2_p4_psScore = b_encoded['t2_p4_psScore']
t2_p5_psScore = b_encoded['t2_p5_psScore']

a_encoded['t2_p1_psScore'] = t2_p1_psScore 
a_encoded['t2_p2_psScore'] = t2_p2_psScore 
a_encoded['t2_p3_psScore'] = t2_p3_psScore 
a_encoded['t2_p4_psScore'] = t2_p4_psScore 
a_encoded['t2_p5_psScore'] = t2_p5_psScore

b_encoded['t1_p1_psScore'] = t1_p1_psScore 
b_encoded['t1_p2_psScore'] = t1_p2_psScore 
b_encoded['t1_p3_psScore'] = t1_p3_psScore 
b_encoded['t1_p4_psScore'] = t1_p4_psScore 
b_encoded['t1_p5_psScore'] = t1_p5_psScore 

t1_p1_psScore = temp_df1['t1_p1_psScore']
t1_p2_psScore = temp_df1['t1_p2_psScore']
t1_p3_psScore = temp_df1['t1_p3_psScore']
t1_p4_psScore = temp_df1['t1_p4_psScore']
t1_p5_psScore = temp_df1['t1_p5_psScore']

t2_p1_psScore = temp_df2['t2_p1_psScore']
t2_p2_psScore = temp_df2['t2_p2_psScore']
t2_p3_psScore = temp_df2['t2_p3_psScore']
t2_p4_psScore = temp_df2['t2_p4_psScore']
t2_p5_psScore = temp_df2['t2_p5_psScore']

temp_df1['t2_p1_psScore'] = t2_p1_psScore 
temp_df1['t2_p2_psScore'] = t2_p2_psScore 
temp_df1['t2_p3_psScore'] = t2_p3_psScore 
temp_df1['t2_p4_psScore'] = t2_p4_psScore 
temp_df1['t2_p5_psScore'] = t2_p5_psScore


temp_df2['t1_p1_psScore'] = t1_p1_psScore 
temp_df2['t1_p2_psScore'] = t1_p2_psScore 
temp_df2['t1_p3_psScore'] = t1_p3_psScore 
temp_df2['t1_p4_psScore'] = t1_p4_psScore 
temp_df2['t1_p5_psScore'] = t1_p5_psScore

In [21]:
team1_data = pd.concat([temp_df1, a_encoded])
team2_data = pd.concat([temp_df2, b_encoded])

In [22]:
def drop_teamPosition(originalData, teamNumber):
    for i in range(1, 6):
        originalData.drop("t%d_p%d_teamPosition" % (teamNumber, i), axis = 1, inplace = True)

In [23]:
drop_teamPosition(team1_data, 1)

In [24]:
drop_teamPosition(team2_data, 2)

In [25]:
temp_column_list = [
    'our_top_champ', 'our_jun_champ', 'our_mid_champ', 'our_bot_champ', 'our_sup_champ', 
    'win', 'our_top_kda', 'our_top_wr', 'our_top_five', 
    'our_jun_kda', 'our_jun_wr', 'our_jun_five',
    'our_mid_kda', 'our_mid_wr', 'our_mid_five',
    'our_bot_kda', 'our_bot_wr', 'our_bot_five', 
    'our_sup_kda', 'our_sup_wr', 'our_sup_five',
    'our_top_psScore', 'our_jun_psScore', 'our_mid_psScore', 'our_bot_psScore', 'our_sup_psScore',
    'opp_top_champ', 'opp_jun_champ', 'opp_mid_champ', 'opp_bot_champ', 'opp_sup_champ',
    'opp_top_psScore', 'opp_jun_psScore', 'opp_mid_psScore', 'opp_bot_psScore', 'opp_sup_psScore',
]


new_column_list = [
    'our_top_champ', 'our_top_kda', 'our_top_wr', 'our_top_five', 'our_top_psScore',
    'our_jun_champ', 'our_jun_kda', 'our_jun_wr', 'our_jun_five', 'our_jun_psScore',
    'our_mid_champ', 'our_mid_kda', 'our_mid_wr', 'our_mid_five', 'our_mid_psScore',
    'our_bot_champ', 'our_bot_kda', 'our_bot_wr', 'our_bot_five', 'our_bot_psScore',
    'our_sup_champ', 'our_sup_kda', 'our_sup_wr', 'our_sup_five', 'our_sup_psScore',
    'opp_top_champ', 'opp_top_psScore', 'opp_jun_champ', 'opp_jun_psScore', 
    'opp_mid_champ', 'opp_mid_psScore', 'opp_bot_champ', 'opp_bot_psScore', 'opp_sup_champ', 'opp_sup_psScore',
    'win'
]

In [26]:
team1_data.columns = temp_column_list
team2_data.columns = temp_column_list

In [27]:
final_df = pd.concat([team1_data, team2_data], ignore_index=True)

In [28]:
final_df.reset_index(inplace=True)
final_df.drop('index', inplace=True, axis=1)

In [29]:
final_df = final_df[new_column_list]

In [30]:
final_df

,our_top_champ,our_top_kda,our_top_wr,our_top_five,our_top_psScore,our_jun_champ,our_jun_kda,our_jun_wr,our_jun_five,our_jun_psScore,...,opp_top_psScore,opp_jun_champ,opp_jun_psScore,opp_mid_champ,opp_mid_psScore,opp_bot_champ,opp_bot_psScore,opp_sup_champ,opp_sup_psScore,win
0,오른,3.179487,63.636364,1,53.02,람머스,3.000000,100.000000,0,51.13,...,0.00,킨드레드,50.38,말파이트,49.59,이즈리얼,51.17,질리언,51.42,1
1,베인,2.383562,66.666667,0,53.59,그라가스,1.142857,0.000000,0,48.57,...,53.02,카서스,49.09,이렐리아,52.12,미스 포츈,51.75,브라움,50.20,0
2,오른,4.636364,100.000000,0,53.02,그레이브즈,2.538462,50.000000,0,54.74,...,55.08,니달리,48.17,리 신,0.00,이즈리얼,51.17,블리츠크랭크,55.39,1
3,아트록스,1.347222,38.095238,1,46.97,마스터 이,2.566667,62.500000,1,54.87,...,51.18,워윅,54.28,야스오,54.01,자야,50.82,제라스,55.00,1
4,카밀,3.190476,80.000000,1,52.97,리 신,3.800000,50.000000,0,51.25,...,50.61,엘리스,51.73,판테온,49.63,진,53.21,제라스,55.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1829,케일,8.500000,100.000000,0,50.08,모르가나,26.000000,100.000000,0,0.00,...,48.04,자르반 4세,48.98,베인,48.08,징크스,51.64,자이라,52.56,0
1830,나서스,1.904762,66.666667,0,52.77,킨드레드,1.904110,56.666667,1,50.38,...,50.19,바이,52.50,아칼리,50.89,애쉬,51.02,블리츠크랭크,55.39,0
1831,트린다미어,1.897059,68.000000,1,51.62,릴리아,3.823529,67.592593,1,49.54,...,52.78,리 신,51.25,야스오,54.01,베인,55.54,모르가나,52.30,0
1832,요네,1.338462,41.666667,1,48.93,마스터 이,1.162500,66.666667,0,54.87,...,47.49,자르반 4세,48.98,벡스,52.60,징크스,51.64,쓰레쉬,49.27,1
1833,레넥톤,1.555556,0.000000,0,47.49,잭스,0.571429,0.000000,0,49.75,...,51.30,마스터 이,54.87,세트,50.71,신드라,0.00,럭스,55.38,0

In [31]:
#final_df.to_csv('plat_final_dataset.csv')
final_df.to_csv('gold_final_dataset.csv')